<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<a href="/signup">signup</a><br>
<a href="/login">login</a><br>
<a href="/courses">Courses Search</a><br>
<a href="/courses-details/1">Course Details</a><br>

<a href="/messages/1">Messages</a><br>
<a href="/profile/1">View Profile</a><br>
<a href="/schedule/1">Schedule</a><br>
<a href="/user/1">User</a><br>
<a href="/user/1/edit">User</a><br>

<a href="/admin">Admin</a><br>
<a href="/">INDEX</a><br>


