{{!-- Menu com login --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light menu-login">
  <div class="container-fluid">
    <a class="navbar-brand logotipo" href="#">FreeStudents</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ul-mainPage">

        <li class="nav-item li-mainPageHowToWork">
          <a class="nav-link" href="#comofunciona">Como funciona?</a>
        </li>
        <li class="nav-item li-mainPage">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        {{!-- login --}}
      </ul>
       <form class="form-login form-menu" action="/login" method="POST">
             <label class= 'label-login form-label' for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email"  name="email" class="form-control" id="email" aria-describedby="emailHelp">
         
          <label  class= 'label-login form-label' for="exampleInputPassword1">Senha</label>
            <input  type="password" name="password" class="form-control" id="password"> 

  <button type="submit" class="btn btn-warning">Login</button>
    {{#if errorMessage}}
<p class="error">{{errorMessage}} </p>
{{/if}}

</form>
    </div>
  </div>
</nav>


{{!-- Primeira parte --}} <br>

<div id="carouselExampleControlsNoTouching" class="carousel slide div-carrossel" data-bs-touch="false"
  data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/banner1.png" class="d-block carrossel-img " alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/banner2.png" class="d-block carrossel-img" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/banner3.png" class="d-block carrossel-img" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev carrossel-button" type="button"
    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden carrossel-spam">Previous</span>
  </button>
  <button class="carousel-control-next carrossel-button" type="button"
    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon carrossel-spam" aria-hidden="true"></span>
    <span class="visually-hidden carrossel-spam">Next</span>
  </button>
</div>
<hr class='hr-mainPage'>

{{!-- Segunda parte --}} <br> <br>
<div class="container-sm text-center div-sec-part">
  <h1> "Ensinar é mostrar que é possível. Aprender é tornar possível a si mesmo."</h1>
</div>


{{!-- Terceira parte --}} <br> <br>

<h2 class='h2-mainPage '> Temos várias categorias de curso em nossa plataforma! Veja algumas</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 div-thi-part">
      <img src="../images/idiomas.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">IDIOMAS</h4>
        <p class="card-text p-mainPage">Aqui você pode encontrar professores de diversos idiomas! Que pode ajudar você
          aprimorar ou começar a aprender uma língua nova</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100 div-thi-part">
      <img src="../images/educacao.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">EDUCAÇÃO ESCOLAR</h4>
        <p class="card-text p-mainPage ">Você pode encontrar professores que irão te ajudar dando aquele reforço escolar
          que você precisa em diferentes matérias e conteúdos!</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100 div-thi-part">
      <img src="../images/tech.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">TECNOLOGIAS</h4>
        <p class="card-text p-mainPage"> Nessa categoria, você encontra diversos professores que te ensinam linguagens
          de programação atuais, SQL entre outras tecnologias encontradas no mercado de trabalho.</p>
      </div>

    </div>
  </div>
</div>

<hr id="comofunciona" class='hr-mainPage'>

{{!-- Quarta parte - Como funciona? --}}

<div class=" div-comoFunciona">

  <img src="../images/como-funciona.png" class="card-img  img-comoFunciona" alt="..." >
  <div>
    <h1>Como a FreeStudents funciona? </h1>
    <p class="card-text p-comoFunciona">This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer. <br> <br>  This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.<br> <br> This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.</p>

  <a href="/signup"><butto type="button" class="btn btn-outline-warning">Quero me inscrever</button></a>
  </div>
</div>
