<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo - File Upload with Express</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{{body}}}

</body>

  <footer class="page-footer footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">FreeStudents</h5>
          <p class="grey-text text-lighten-4">A plataforma onde você encontra alguém para te ensinar algo novo voluntariamente!</p>
        </div>
        <div class="col l4 offset-l2 s12 margin-left: 20px;">
          <ul class= 'ul-footer' style="list-style-type: none;">
            <li><a class="a-footer" href="#!">Facebook</a></li> 
            <li><a class="a-footer" href="#!">Instagram</a></li>
            <li><a class="a-footer" href="#!">Linkedin</a></li>
            <li><a class="a-footer" href="#!">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2021 Copyright Text
        <a class="grey-text text-lighten-4 right a-footer" href="#!">More Links</a>
      </div>
    </div>
  </footer>


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>

</html>
{{!--
<a href="/signup">signup</a><br>
<a href="/login">login</a><br>
<a href="/courses">Courses Search</a><br>
<a href="/courses-details/1">Course Details</a><br>

<a href="/messages/1">Messages</a><br>
<a href="/profile/1">View Profile</a><br>
<a href="/schedule/1">Schedule</a><br>
<a href="/user/1">User</a><br>
<a href="/user/1/edit">User</a><br>

<a href="/admin">Admin</a><br>
<a href="/">INDEX</a><br> --}}