body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00b7ff;
}

.movies-wrapper {
  display: flex;
  flex-wrap: wrap;
}


/*  Tela de sign Up   */

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  font-size: 22px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.h3-signUp {
  text-align: center;
}

.h4-signUp {
  text-align: center;
}

.checkbox {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 23px;
  
}

.subtitulo-signUp {

  margin-top: 10px;
  margin-bottom: 20px;
}

.checkbox-select {
  display: inline-block;
  text-align: center;
  margin-left: 250px;

}

/* Tela de principal */

.menu-login { 
  background-color: #E9ECEF !important;
}



.logotipo { 

  font-size: 24px;
}

.ul-mainPage { 
  display: flex; 
   justify-content: space-around;
   width: 25vw;
}

.li-mainPage { 
  
  font-size: 20px;
  margin-left: 5px;

 
}
.li-mainPageHowToWork { 
  font-size: 20px;
  margin-left: 20px;

}

a:link, a:visited {
	text-decoration: none !important
	}
a:hover {
	text-decoration: underline !important; 
	color: #ffc107 !important
	}
a:active {
	text-decoration: none !important
	}



.form-menu { 
 margin-left: 20%;
 margin-right: 5%;
display: flex !important;
justify-content: space-between !important; 
 align-items: baseline !important;

}

.label-login { 
margin: 25px;
justify-content: space-between;

}


/* Segunda parte */ 

.hr-mainPage {
  border: 10px solid #ffc107;
  border-radius: 5px;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 5px;
}

.div-sec-part { 
  padding-left: 10%; 
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #E9ECEF;

}

.div-thi-part { 
 display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-color: transparent;
}

.carrossel-img { 
width: 1300px;
height: 700px;
margin-left: 2%

  

}

.carrossel-button{ 
  width:100px;
  height: 200px;
  opacity: 0.2;
  margin-top: 20%;
}
.carrossel-spam { 
  color: black;

}
